# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from vacationAPI import googleKey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [28]:
vacationCity = pd.read_csv('../WeatherPy/cleanCity.csv')
del vacationCity['City_ID']
vacationCity

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Atuona,85,PF,1603738920,73,-9.80,-139.03,79.14,19.33
1,Makakilo City,1,US,1603738907,83,21.35,-158.09,75.20,3.36
2,Port Lincoln,2,AU,1603739046,88,-34.73,135.87,53.98,8.32
3,Barra do Corda,100,BR,1603739046,42,-5.50,-45.25,94.98,2.89
4,Cape Town,0,ZA,1603738910,77,-33.93,18.42,68.00,11.41
...,...,...,...,...,...,...,...,...,...
563,Jumla,0,NP,1603738870,59,29.27,82.18,42.28,4.63
564,Gamba,100,GA,1603738922,86,-2.65,10.00,76.71,7.31
565,Diapaga,0,BF,1603739120,23,12.07,1.79,84.33,5.68
566,Sitka,90,US,1603738914,87,57.05,-135.33,51.80,5.82
567,Knysna,90,ZA,1603739120,100,-34.04,23.05,62.60,14.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
gmaps.configure(api_key = googleKey)

In [30]:
locations = vacationCity[["Latitude", "Longitude"]]
weights = vacationCity["Humidity"].astype(float)
heatMap = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=100, point_radius=1)
heatMap.add_layer(heat_layer)
heatMap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:
vacationCity = vacationCity.dropna()
vacationCity.dtypes
fitVacation = vacationCity.loc[(vacationCity['Max Temp'] >= 70) & (vacationCity['Max Temp'] <= 80) & (vacationCity['Humidity'] <= 85) & (vacationCity['Humidity'] >= 15)& (vacationCity['Wind Speed'] <= 15) & (vacationCity['Cloudiness'] <= 25)]
fitVacation.head()

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
1,Makakilo City,1,US,1603738907,83,21.35,-158.09,75.20,3.36
9,Chake Chake,0,TZ,1603739047,81,-5.25,39.77,76.46,6.15
39,Talara,0,PE,1603739051,57,-4.58,-81.27,78.80,9.17
53,Arraial do Cabo,20,BR,1603738889,65,-22.97,-42.03,78.80,8.05
58,Isangel,16,VU,1603738885,81,-19.55,169.27,73.69,8.90

In [32]:
fitVacation['Hotel Name'] = " "
fitVacation = fitVacation.reset_index(drop=True)

<ipython-input-32-67b6fc08f594>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fitVacation['Hotel Name'] = " "

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
params = {'key': googleKey,
          'type': 'lodging',
          'radius': 5000}

def findnearby(measures):
    baseURL = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    response = requests.get(baseURL, params = params)
    data = response.json()
    return data
    
for index, row in fitVacation.iterrows():
    city = row["City"]
    print(f'Hotel Search Number: {index} | {city}')
    lat = row["Latitude"]
    long = row["Longitude"]
    params["location"] = f"{lat},{long}"
    hotelData = findnearby(params)
    
    try:
        fitVacation.loc[index,'Hotel Name'] = hotelData['results'][0]['name']

    except:
        print(f"No values for {index} | {city}")

Hotel Search Number: 0 | Makakilo City
Hotel Search Number: 1 | Chake Chake
Hotel Search Number: 2 | Talara
Hotel Search Number: 3 | Arraial do Cabo
Hotel Search Number: 4 | Isangel
Hotel Search Number: 5 | Assiut
Hotel Search Number: 6 | Sur
Hotel Search Number: 7 | Qandala
No values for 7 | Qandala
Hotel Search Number: 8 | Lingao
Hotel Search Number: 9 | Awjilah
No values for 9 | Awjilah
Hotel Search Number: 10 | Mitsamiouli
Hotel Search Number: 11 | ‘Ewa Beach
Hotel Search Number: 12 | Tadine
No values for 12 | Tadine
Hotel Search Number: 13 | Pisco
Hotel Search Number: 14 | Riyadh
Hotel Search Number: 15 | Lompoc
Hotel Search Number: 16 | Jalu
Hotel Search Number: 17 | Manokwari
Hotel Search Number: 18 | Ouadda
No values for 18 | Ouadda
Hotel Search Number: 19 | Livingstone
Hotel Search Number: 20 | Khorramshahr
Hotel Search Number: 21 | Rivadavia
Hotel Search Number: 22 | Mercedes
Hotel Search Number: 23 | Cap Malheureux
Hotel Search Number: 24 | Salalah
Hotel Search Number: 25 | Lakhi
Hotel Search Number: 26 | Waddān
Hotel Search Number: 27 | Ambilobe
Hotel Search Number: 28 | Paita
Hotel Search Number: 29 | Voh
Hotel Search Number: 30 | Caravelas
Hotel Search Number: 31 | Pimentel
Hotel Search Number: 32 | Phalaborwa

In [34]:
fitVacation

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
0,Makakilo City,1,US,1603738907,83,21.35,-158.09,75.20,3.36,Marriott's Ko Olina Beach Club
1,Chake Chake,0,TZ,1603739047,81,-5.25,39.77,76.46,6.15,Hotel Archipelago
2,Talara,0,PE,1603739051,57,-4.58,-81.27,78.80,9.17,Hostal Oro Negro
3,Arraial do Cabo,20,BR,1603738889,65,-22.97,-42.03,78.80,8.05,Pousada Porto Praia
4,Isangel,16,VU,1603738885,81,-19.55,169.27,73.69,8.90,Volcano Sea View Tree House
5,Assiut,0,EG,1603739054,53,27.18,31.18,75.20,11.41,Florence Hotel Assiut
6,Sur,0,OM,1603739056,61,22.57,59.53,72.07,1.79,Sur Plaza Hotel
7,Qandala,21,SO,1603739057,40,11.47,49.87,77.88,4.56,
8,Lingao,5,CN,1603739061,84,19.91,109.69,73.17,3.94,Lingao Ditai Inn
9,Awjilah,0,LY,1603738917,51,29.11,21.29,71.91,6.73,
10,Mitsamiouli,19,KM,1603739064,73,-11.38,43.28,78.58,8.43,Foyer ADM
11,‘Ewa Beach,1,US,1603739069,83,21.32,-158.01,78.01,3.36,Hampton Inn & Suites Oahu/Kapolei
12,Tadine,7,NC,1603739070,80,-21.55,167.88,71.91,10.83,
13,Pisco,0,PE,1603738928,68,-13.70,-76.22,70.00,8.05,Hostal San Isidro Oficial
14,Riyadh,0,SA,1603738668,28,24.69,46.72,73.40,3.38,InterContinental Riyadh
15,Lompoc,1,US,1603738693,59,34.64,-120.46,70.00,6.46,Holiday Inn Express Lompoc
16,Jalu,10,LY,1603738949,50,29.03,21.55,72.27,6.89,Jalu Hotel
17,Manokwari,0,ID,1603738801,74,-0.87,134.08,79.00,5.01,Swiss Belhotel Manokwari
18,Ouadda,0,CF,1603739085,69,8.08,22.40,70.77,3.15,
19,Livingstone,0,ZM,1603739085,24,-17.84,25.85,79.39,5.93,Gloria's Bed and Breakfast
20,Khorramshahr,0,IR,1603739086,49,30.44,48.17,71.60,2.24,دفتر نمایندگی شرکت بازاریابان ایرانیان زمینBIZ
21,Rivadavia,0,AR,1603739083,26,-33.19,-68.46,78.80,14.99,Posada Del Fin Del Mundo
22,Mercedes,0,AR,1603738970,22,-34.65,-59.43,73.99,5.01,Posada del Inti Centro
23,Cap Malheureux,0,MU,1603739096,74,-19.98,57.61,73.99,5.01,Pereybere Hotel & Spa
24,Salalah,0,OM,1603738780,61,17.02,54.09,78.80,5.82,HAMDAN PLAZA HOTEL
25,Lakhi,0,PK,1603739099,69,27.85,68.70,73.40,2.04,AKBARIA Imam Bargah
26,Waddān,0,LY,1603739100,38,29.16,16.14,73.13,9.71,محل الشريف محمد العايب
27,Ambilobe,15,MG,1603738924,72,-13.20,49.05,74.16,4.59,Hôtel & Restaurant DIANA Ambilobe
28,Paita,0,PE,1603738928,57,-5.09,-81.11,78.80,9.17,Hotel Náutico de Paita
29,Voh,2,NC,1603739113,85,-20.97,164.70,70.99,4.54,Le gîte du Koniambo
30,Caravelas,0,BR,1603738910,75,-17.71,-39.25,78.91,9.64,Pousada dos Navegantes
31,Pimentel,0,PE,1603739116,57,-6.84,-79.93,75.20,14.99,Casona Del Muelle
32,Phalaborwa,0,ZA,1603739119,57,-23.94,31.14,78.80,3.36,Bothabelo B&B

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in fitVacation.iterrows()]
locations = fitVacation[["Latitude", "Longitude"]]

In [36]:
#markers = gmaps.marker_layer(locations, info_box_content=[f"Poverty Rate: {rate}" for rate in poverty_rate])

locations = fitVacation[["Latitude", "Longitude"]]
weights = fitVacation["Humidity"].astype(float)
hotelMap = gmaps.figure()
heatLayer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=100,point_radius=1)
hotelMap.add_layer(heatLayer)
markers = gmaps.marker_layer(locations,info_box_content = hotel_info)
hotelMap.add_layer(markers)
hotelMap

Figure(layout=FigureLayout(height='420px'))